*{
    padding: 0;
    margin: 0;
}
:rol{
    scroll-behavior: smooth;
}
.mapp{
   
    padding: 10px;
    height: 200px;
    width: 650px;
    margin: auto;
    border-radius: 10px;
}
header{
    width: 100%;;
    height: 50vh;
    background-image: linear-gradient(to top, rgba(80, 71, 76, 0.623) 0%, rgba(0, 0, 0, 0.801) 100%),
    url(../img/altumcode-XMFZqrGyV-Q-unsplash.jpg);
    background-attachment: fixed;
    background-size: cover;
   
}
a{
    text-decoration: none;
    color: white;
}
body{
    font-family: 'Redressed', cursive;
    font-size: 29px;
}
h1{
    margin: auto;
    text-align: center;
    padding: 60px;
color: white;
}
nav{
display: flex;
justify-content: space-evenly; 
}
.info{
    text-align: center;
    padding: 5px;
}
.nave{
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    text-align: center;
  
}
.nave:hover{
    background: black;
    color: white;
    transition: 1.5s;
}
.subtitulo-header{
    margin: auto;
    text-align: center;
    padding: 16px;
color: white;
}  



.titulos{
 font-family: 'Lato', sans-serif;;
    font-size: 55px;
    color: black;
    text-align: center;
}

.sub{
 font-family: 'Lato', sans-serif;;
    color: white;
    text-align: center;
    padding-bottom: 10px;
}

.presentacion{
    display: flex;

}
.columna{
    background: rgb(228, 228, 228);
    color:black;
    padding: 20px;
    height: 25%;
    width: 33%;
    margin :10px;
    box-shadow: 10px 10px 5px #333;
    border-radius: 3px;
 }
 

 .columna-btn{
   padding: 10px;
   background: rgb(228, 228, 228);    
   color:black;
   width: 25%;   
   margin: auto; 
   text-align: center;
   border-bottom: 10px;
   margin-top: 5px;
   
 }
 .columna-btn:hover{
  
    padding: 10px;
    background: rgb(128, 126, 126);     
    color:black;
    width: 28%;   
    margin: auto; 
    transition:1.5s;
  }
  
 .contactos{
    
 color: white;


 

 }
 .footere{
     background-color: black;
     display: grid;
     grid-template-columns: 1fr 1fr;
     column-gap: 10px;

 }
 .titulos-foot{
     padding: 10px;

 }
 
 .barras{
     background-color: white;
     margin: auto;
     margin-bottom: 10px;
     width:95%;
     
    


 }
 .fin-hr{
     margin: auto;
     width: 75%;
height: 5px;
border-radius: 3px;
     margin-bottom:50px;
     background-color: #333;
  
     
 }
 .contacto{
    display: grid;
    grid-template-columns: 43px 180px;
    grid-template-rows: 43px 43px 43px;
    margin: auto;
 font-family: 'Lato', sans-serif;
    margin-top: 10px;
    margin-left: 10px;
     color: white;
     font-size: 20px;
    padding: 10px;
     
 }
 .menu{
text-decoration: none;
color: white;
display: none;
 }
 .containers{
margin: 0 auto;
width: 90%;

 font-family: 'Lato', sans-serif;;
 }
 .lis{
     font-weight: 400;

 }
 .list{
     font-weight: 300;
     padding: 10px;
 }
 .flex{
     display: flex;
     text-align: center;
     flex-wrap: wrap;
     margin-bottom: 100px;

 }
 .btn-col{
background-color: salmon;
display: block;
padding: 10px;
color: #fff;
text-decoration: none;
border-radius: 3px;
margin-bottom: 10px;
 }
 .btn-col:hover{
     background: rgb(250, 100, 84);
     transition: 1s;

 }
 .precio{
     font-size: 50px;
     color:rgb(4, 236, 236);


 }
 .colum{
     
     background: rgb(228, 228, 228);
    color: #333;
     border: 1px solid #333;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #888;
    width: 23%;
    box-sizing: border-box;
    
}
.contenedor1{
   display: grid;
    grid-template-columns: 650px 650px;
    grid-template-rows: 2fr 2fr ;
    grid-gap: 100px;
border: solid white;
/* grid-gap : 15px; */
justify-content: center;
padding: 100px;

}
.box{
    background-color: #333;
    color: white;
  
    margin: auto;
    width: 640px;
 text-align: center;
 box-shadow: 10px 10px  rgb(36, 36, 36);

}
@media(max-width:1048px){
    .columna-btn{
        display: none;
    }
}
@media (max-width:1328px) {
    .colum{
        width: 45%;
        margin-bottom: 20px;
    }
    
}
@media (max-width:800px){
    .mapp{  
      display: none;
    }
    nav{
        display: flex;
        flex-direction: column;
        justify-content: end;
        text-decoration: none;
    }
    header{
        height: 100vh;
    }
    .presentacion{
        display: flexbox;
        display: block;
        
    }
    .imt{
        height: 25px;
        width: 25px;
    }
    
    .columna{
        color:black;
      
        height: 25%;
        width: 75%;
        margin :auto;
        margin-top: 10px;
        font-size:25px;
        box-shadow: none;
     }
     h1{
         font: 25px;
     }
    
     .titulos{
        font-size:30px;
        color: black;
        
    }
    .menu{
        display: inline-block;
        text-align: right;
        color: #333;
    }
    .desaparece{
        display: none;
        transition: 1s;
      
    }
    .colum{
        width: 100%;
        margin-bottom: 20px;
    }
    .contenedor1{
      
        /* grid-template-columns:1fr;
        grid: template rows 2fr;;
        text-align: center;
        row-gap: 1fr; */
        grid-template-columns: 400px;
    
        border: solid white;
        text-align: center;
        margin-bottom:80px;
    }
    
    .contacto{
        text-align: center;
        justify-content: center;
    }
    img{
        width: 400px;
        height: 750;
    }
    .footere{
        width: 100%;
        text-align: center;
        grid: none;

    }
    .box{
        background-color: #333;
        color: white;
        
        margin: auto;
        width: 450px;
     text-align: center;
     box-shadow: 5px 10px rgb(73, 72, 72);
    
    }
       
    
}
@media (max-width:600px){
   
    .contenedor1{
      
        grid-template-columns:380px;
        font-family: 'Lato', sans-serif;;

       
    }
    .box{
        background-color: #333;
        
        margin: auto;
        width: 355px;
        text-align: center;
        padding: 5px;
        border-radius: 1%;
        font-size: 15px;
        box-shadow: 10px 10px  #333;
    
    }
    .fin-hr{
        display: none;
    }
    img{
        width: 350px;
        height: 550;
    }
    
    }
    
