*{
    padding: 0;
    margin: 0;
}
:rol{
    scroll-behavior: smooth;
}
header{
    width: 100%;;
    height: 50vh;
    background-image: linear-gradient(to top, rgba(251, 194, 235, 0.746) 0%, rgba(153, 183, 233, 0.801) 100%),
    url(../img/altumcode-XMFZqrGyV-Q-unsplash.jpg);
    background-attachment: fixed;
    background-size: cover;
   
}

body{
    font-family: 'Redressed', cursive;
    font-size: 29px;
}
h1{
    margin: auto;
    text-align: center;
    padding: 60px;
color: white;
}
nav{
background-color: rgba(128, 128, 128, 0.233);
display: flex;
justify-content: space-evenly; 
}
.info{
    text-align: center;
    padding: 5px;
}
.nave{
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    text-align: center;
  
}
.nave:hover{
    background: black;
    color: white;
    transition: 1.5s;
}
.subtitulo-header{
    margin: auto;
    text-align: center;
    padding: 16px;
color: white;
}  


.titulos{
    font-size: 55px;
    color: black;
    text-align: center;
}
.titulo-foot {
    color: white;

}
.sub{
    color: white;
    text-align: center;
    padding-bottom: 10px;
}

.presentacion{
    display: flex;

}
.columna{
    background: rgb(228, 228, 228);
    color:black;
    padding: 20px;
    height: 25%;
    width: 33%;
    margin :10px;
    box-shadow: 10px 10px 5px #333;
    border-radius: 3px;
 }
 

 .columna-btn{
   padding: 10px;
   background: rgb(228, 228, 228);    
   color:black;
   width: 25%;   
   margin: auto; 
   text-align: center;
   border-bottom: 10px;
   margin-top: 5px;
   
 }
 .columna-btn:hover{
  
    padding: 10px;
    background: rgb(128, 126, 126);     
    color:black;
    width: 28%;   
    margin: auto; 
    transition:1.5s;
  }
  
 .contactos{
    text-decoration-color: white;
    display: flexbox;

 

 }
 .footere{
     background-color: black;

 }
 .barra{
     background-color: white;
     margin :auto;
     width:85%;
     border-radius: 10%;
    


 }
 .contacto{
    margin-top: 10px;
     color: white;
     font-size: 20px;
     display: flex;
     justify-content: space-around; 
     
 }
 .menu{
text-decoration: none;
color: white;
display: none;
 }
 .containers{
margin: 0 auto;
width: 90%;

 font-family: 'Lato', sans-serif;;
 }
 .lis{
     font-weight: 400;

 }
 .list{
     font-weight: 300;
     padding: 10px;
 }
 .flex{
     display: flex;
     text-align: center;
     flex-wrap: wrap;
     margin-bottom: 100px;

 }
 .btn-col{
background-color: salmon;
display: block;
padding: 10px;
color: #fff;
text-decoration: none;
border-radius: 3px;
margin-bottom: 10px;
 }
 .btn-col:hover{
     background: rgb(250, 100, 84);
     transition: 1s;

 }
 .precio{
     font-size: 50px;
     color:rgb(4, 236, 236);


 }
 .colum{
     
     background: rgb(228, 228, 228);
    color: #333;
     border: 1px solid #333;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #888;
    width: 23%;
    box-sizing: border-box;
    
}
.contenedor1{
   display: grid;
    grid-template-columns: 650px;
    row-gap: 10px;
    grid-template-rows: 2fr 2fr 2fr 2fr;
border: solid white;
grid-gap : 15px;
justify-content: center;
margin-bottom: 100px;
padding: 100px;

}
.box{
    background-color: #333;
    color: white;
    padding: 10px;
    margin: auto;
    width: 640px;
 text-align: center;
 box-shadow: 10px 10px 5px #333;

}
@media(max-width:1048px){
    .columna-btn{
        display: none;
    }
}
@media (max-width:1328px) {
    .colum{
        width: 45%;
        margin-bottom: 20px;
    }
    
}
@media (max-width:800px){
    nav{
        display: flex;
        flex-direction: column;
        justify-content: end;
        text-decoration: none;
    
    }
    header{
        height: 100vh;
    }
    .presentacion{
        display: flexbox;
        display: block;
        
      
    }
    
    .columna{
        color:black;
        padding: 20px;
        height: 25%;
        width: 85%;
        margin :auto;
        margin-top: 10px;
        font-size:25px;
        box-shadow: none;
     }
     h1{
         font: 25px;
     }
    
     .titulos{
        font-size:30px;
        color: black;
        
    }
    .menu{
        display: inline-block;
    }
    .desaparece{
        display: none;
        transition: 1s;
      
    }
    .colum{
        width: 100%;
        margin-bottom: 20px;
    }
    .contenedor1{
      
        /* grid-template-columns:1fr;
        grid: template rows 2fr;;
        text-align: center;
        row-gap: 1fr; */
        grid-template-columns: 300px;
        grid-auto-rows: 450px 320px ;
        row-gap: 50px;
        border: solid white;
        text-align: center;
        padding: 100px;
    }
    .box{
        margin :auto;
        width: 350px;
    }
    img{
        width: 300px;
        height: 650;
    }
    
}
@media (max-width:600px){
   
    .contenedor1{
      
        grid-template-columns:1fr;
    }
    
    }
